.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 30px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.navbar__black {
  background-color: #111;
}

.navbar__logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}

.navbar__right {
  display: flex;
  align-items: center;
  gap: 20px;
  position: fixed;
  right: 20px;
}

.navbar__avatar {
  width: 30px;
  height: 30px;
}

.navbar__avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navbar__signOut {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
}

.navbar__signOut:hover {
  background-color: #f40612;
}
